body {
    margin: 0;
}

.first {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
   
}

.header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;

}

.links {
    display: flex;
    margin: 0;
    font-size: 18px;
    color:#E5E7EB;
}

.container {
    display: flex;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.second {
    text-align: center;
}

.sub {
    text-align: center;
    max-width: 200px;
}

.main {
    display: flex;
    justify-content: center;
}

.third {
    background-color: #E5E7EB;
    color:#1F2937
}

.quote {
    font-size: 36px;
    font-style: italic;
}