body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex-shrink: 1;
   
}

.header {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-around;

}

.links {
    display: flex;
    margin: 0;
    font-size: 18px;
    color:#E5E7EB;
    list-style-type: none;
    gap: 32px;
}


.container {
    display: flex;
    padding: 52px;
    justify-content: space-evenly;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -40px;
}

.info {
    width: 500px;
}

.second {
    text-align: center;
}

.sub {
    text-align: center;
    max-width: 200px;
}

.main {
    display: flex;
    justify-content: center;
}

.third {
    background-color: #E5E7EB;
    color:#1F2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.last {
    border: solid 8px saddlebrown;
}

.footer {
    height: 50px;
    background-color: #1F2937;
    color: pink;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
